* {
  box-sizing: border-box;
  font-family: Georgia, serif;
}

body {
  background: #eee;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-container {
  background: #aee3ff;
  width: 420px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 5px 6px 0px #333;
}

.todo-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-area {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input-area input {
  flex: 1;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #444;
}

.input-area button {
  background: #fff3a0;
  border: 1px solid #444;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-list li {
  border: 1px solid #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-list li span {
  font-size: 16px;
}

.task-list li button {
  background: #fff3a0;
  border: 1px solid #444;
  padding: 4px 8px;
  border-radius: 6px;
  cursor: pointer;
}
